@import "PartialCss/MainCalc.css";
@import "PartialCss/YearlyIncomeTable.css";
@import "PartialCss/AdvancedValuesHolder.css";
@import "PartialCss/Gibs.css";
@import "PartialCss/TableAdvanced.css";
@import "PartialCss/CalculatorAdvanced.css";

.hide-advanced-calc {
    color: rgba(10, 180, 180, 1);
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}

.hide-advanced-calc:hover {
    cursor: pointer;
}