* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
}

.gibs {
    display: none;
}

.compare-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.compare-holder-uop, .compare-holder-b2b {
    width: 45%;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}

.result-text {
    text-align: center;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
    padding: 10px;
}

.result-text-fit {
    text-align: center;
    font-size: 1em;
    color: white;
    font-weight: 500;
    padding: 10px;
}

.basic-holder {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid rgba(10, 180, 180, 1);
    background-color: rgba(20, 20, 20, .2);
}

.basic-holder-line {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid rgba(10, 180, 180, 1);
    padding: 10px;
    background-color: rgba(20, 20, 20, .2);
}

.basic-holder-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 5px solid rgba(10, 180, 180, 1);
    padding: 10px;
    background-color: rgba(20, 20, 20, .2);
}

.basic-holder-line-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(10, 180, 180, 1);
    padding: 10px;
}

.basic-holder-bottom-flex {
    border: 1px solid rgba(10, 180, 180, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.money-display {
    color: orange;
}