* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(10, 180, 180, 1);
    padding-bottom: 5px;
}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

option {
    background-color: rgba(20, 20, 20, .7);
}

.both-holder {
    display: flex;
    justify-content: space-between;
}

.first-main-holder {
    width: 1000px;
    margin: 0 auto;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
    background: linear-gradient(to right, rgba(25, 106, 128, .9), rgba(26, 108, 132, .7));
    padding: 20px;
    margin-top: 100px;
    color: white;
}

.fancy-input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
    height: 3em;
    width: 90%;
    border-radius: 5px;
}

.fancy-select {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .2);
    color: white;
    height: 3em;
    width: 15%;
    text-align: center;
    text-align-last: center;
}

.fancy-text {
    background: rgba(20, 20, 20, .2);
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    color: white;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.fancy-button {
    border: 3px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .2);
    font-size: 18px;
    color: white;
    padding: 10px 50px;
    cursor: pointer;
    outline: none;

}

.uop-holder, .b2b-holder {
    width: 45%;
    height: 100%;
    border: 1px solid rgba(10, 180, 180, 1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uop-holder {
    height: 50%;
    position: relative;
}


.amount-holder, .birth-place-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.birth-place-holder>p {
    width: 80%;
    text-align: center;
    background: rgba(20, 20, 20, .2);
    padding: 10px;
    border-radius: 10px;
}

/*
////////////////////////////////////////////////////
////////////////////////////////////////////////////
default background: rgba(20, 40, 40, .8);
default fancy text background: rgba(20, 20, 20, .2)

////////////////////////////////////////////////////
 */

.b2b-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.b2b-input {
    width: 30%;
}

.b2b-text {
    width: 60%;
}

.b2b-select {
    width: 30%;
    text-align: center;
}

.income-cost {
    margin: 0 10px 10px 10px;
    padding: 10px;
    border: 1px solid rgba(10, 180, 180, 0.5);
}

.last-label {
    margin-bottom: 10px;
}


/*
////////////////////////////////////////////////////
////////////////////////////////////////////////////
////////////////////////////////////////////////////
 */


.calculate-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.calculate-input-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 35%;
}

.calculate-input-holder>label>input {
    margin-left: 10px;
}


/*
////////////////////////////////////////////////////
////////////////////////////////////////////////////
////////////////////////////////////////////////////
 */

.extra-style {
    border: 2px solid red;
}

.info-pop {
    display: none;
}

#info-icon {
    color: white;
    font-size: 1.2em;
}

.sum-display {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.sum-display-par {
    text-align: center;
    vertical-align: center;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
    border-radius: 5px;
}

.b2b-display-par {
    width: 30%;
    text-align: center;
    vertical-align: center;
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
    border-radius: 5px;
    font-size: 0.8em;
}

.alert-box {
    z-index: 5;
    width: calc(100% - 20px);
    height: 100%;
    border: 2px solid red;
    position: absolute;
    background: linear-gradient(to right, rgba(25, 106, 128, 1), rgba(26, 108, 132, 1));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.alert-box>h4 {
}

@media (min-width:641px) and (max-width: 1023px) {
    .first-main-holder {
        width: calc(100vw - (100vw - 100%));
    }
    .fancy-input {
        width: 80%;
    }
    .fancy-select {
        width: 100%;
    }
    .amount-holder>label {
        margin-left: 5%;
    }
    .birth-place-holder>p {
        margin-right: 10px;
    }
    .birth-place-holder>.fancy-select {
        width: 60%;
    }
    .uop-holder, .b2b-holder {
        width: 49%;
    }
    .b2b-select {
        margin-left: 10px;
    }
    .b2b-input {
        width: 30%;
        margin-left: 10px;
    }
    .b2b-display-par {
        text-align: center;
        width: 40%;
        vertical-align: center;
        padding: 10px;
        height: 100%;
        font-size: 1em;
        margin-left: 10px;
    }
    .fancy-button {
        padding: 15px;
        margin-right: 10px;
    }
    .calculate-holder>.fancy-text {
        width: 20%;
    }
}

@media (min-width:320px) and (max-width: 640px) {
    .first-main-holder {
        width: calc(100vw - (100vw - 100%));
        font-size: 0.8em;
        padding: 20px;
    }
    .both-holder {
        flex-direction: column;
    }
    .uop-holder, .b2b-holder {
        width: 100%;
        border: 1px solid rgba(10, 180, 180, 1);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .uop-holder {
        margin-bottom: 10px;
    }

    .fancy-select {
        width: 100%;
    }
    .amount-holder>label {
        margin-left: 5%;
    }
    .birth-place-holder>p {
        margin-right: 10px;
    }
    .birth-place-holder>.fancy-select {
        width: 60%;
    }
    .b2b-select {
        margin-left: 10px;
    }
    .b2b-input {
        width: 30%;
        margin-left: 10px;
    }
    .b2b-display-par {
        text-align: center;
        width: 40%;
        vertical-align: center;
        padding: 1px;
        height: 100%;
        font-size: 1em;
        margin-left: 10px;
    }
    .fancy-button {
        font-size: 1em;
        padding: 10px;
        margin-right: 5px;
    }
    .calculate-holder>.fancy-text {
        width: 30%;
    }
}


