* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(10, 180, 180, 1);
    padding-bottom: 5px;
}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.both-holder {
    display: flex;
    justify-content: space-between;
}

.first-main-holder {
    width: 1000px;
    margin: 0 auto;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
    background: linear-gradient(to right, rgba(25, 106, 128, .9), rgba(26, 108, 132, .7));
    padding: 20px;
    margin-top: 100px;
    color: white;

}

.fancy-input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
    height: 3em;
    border-radius: 5px;
}

.fancy-select {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .2);
    color: white;
    height: 3em;
    width: 15%;
    text-align: center;
}

.fancy-text {
    background: rgba(20, 20, 20, .2);
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    color: white;
}

.fancy-button {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .2);
    font-size: 18px;
    color: white;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;

}

.uop-holder, .b2b-holder {
    width: 45%;
    height: 100%;
    border: 1px solid rgba(10, 180, 180, 1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.uop-holder {
    height: 50%;
}


.amount-holder, .birth-place-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.birth-place-holder>p {
    width: 80%;
    text-align: center;
    background: rgba(20, 20, 20, .2);
    padding: 10px;
    border-radius: 10px;
}

/*
////////////////////////////////////////////////////
////////////////////////////////////////////////////
default background: rgba(20, 40, 40, .8);
default fancy text background: rgba(20, 20, 20, .2)

////////////////////////////////////////////////////
 */

.b2b-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.b2b-input {
    width: 30%;
}

.b2b-text {
    width: 60%;
}

.b2b-select {
    width: 30%;
    text-align: center;
}

.income-cost {
    margin: 0 10px 10px 10px;
    padding: 10px;
    border: 1px solid rgba(10, 180, 180, 0.5);
}

.last-label {
    margin-bottom: 10px;
}


/*
////////////////////////////////////////////////////
////////////////////////////////////////////////////
////////////////////////////////////////////////////
 */


.calculate-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.calculate-input-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 35%;
}

.calculate-input-holder>label>input {
    margin-left: 10px;
}


/*
////////////////////////////////////////////////////
////////////////////////////////////////////////////
////////////////////////////////////////////////////
 */

.extra-style {
    border: 2px solid red;
}

.info-pop {
    display: none;
}

#info-icon {
    color: white;
    font-size: 1.2em;
}

.sum-display {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.sum-display-par {
    width: 50%;
    text-align: center;
    vertical-align: center;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
    border-radius: 5px;
}

.b2b-display-par {
    width: 30%;
    text-align: center;
    vertical-align: center;
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
    border-radius: 5px;
}