* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.yearly-table {
    display: block;
    border-collapse: collapse;
    width: 100%;
    height: 620px;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: visible;
    white-space: nowrap;
    color: white;
}

.yearly-table>tbody>tr>th, .yearly-table>tbody>tr>td {
    border: 1px solid black;
    width: 100px;
    height: 2em;
    padding: 0 5px 0 5px;
    font-weight: 500;
    text-align: center;
    background-color: rgba(20, 20, 20, .2);

}

.yearly-income-table-holder {
}

